@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-black;
    @apply text-white;
  }
}
.slider-thumb::-webkit-slider-thumb {
  @apply h-[20px] w-[20px] cursor-pointer appearance-none rounded-full border-4 border-solid border-orange bg-black;
}

@layer base {
  html {
    font-family: "Ubuntu", system-ui, sans-serif;
  }
}
/* .slider-thumb::-webkit-slider-thumb:hover {
  @apply bg-gray;
} */
