@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-black;
    @apply text-white;
  }
}

.input-range {
  -webkit-appearance: none;
  margin-right: 15px;
  width: 100%;
  height: 7px;
  background: #5d5d5d;
  border-radius: 5px;
  background-image: linear-gradient(to right, #ff5c01, #ffd25f);
  background-repeat: no-repeat;
}

.input-range::-webkit-slider-thumb {
  width: 20px;
  height: 20px;
  cursor: pointer;
  appearance: none;
  border-radius: 50%;
  border: 4px solid orange;
  background: black;
}

@layer base {
  html {
    font-family: "Ubuntu", system-ui, sans-serif;
  }
}
